<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>People list</em>
      </h1>
    {{/link-to}}
    {{#link-to "people-list.create"}}
      <h1>
        <em>Create Person</em>
      </h1>
    {{/link-to}}
    {{#link-to "jobs.create"}}
      <h1>
        <em>Create Job</em>
      </h1>
    {{/link-to}}
  </div>
  <div class ="body">
    {{outlet}}
  </div>
</div>
