{{#core-body}}
  <div class= "ui form">

    <div class="app-nav tablet or lower hidden">
      <div id='navigation-menu' class="ui horizontal  menu">

        <div class="item">
          <div class="header"><a href="/">Home</a></div>
        </div>

        <div class="item">
          <div class="header"><a href="/people-list">People-list</a></div>
          <div calss="menu">
            <a href="/people-list/create" class="item">New Person</a>
           </div>
          </div>

        <div class="item">
          <div calss="header"><a href="/jobs">Jobs</a></div>
          <div class="menu">
            <a href="/jobs/create" class="item">New Job</a>
          </div>
         </div>

        <div class="item">
          <div class="header"><a href="/recruiters">Recruiters</a></div>
          <div class="menu">
            <a href="/recruiters/create" class="item">New Recruiter</a>
          </div>
        </div>

      </div>
     </div>

         <div class="app-content">
           {{outlet}}
         </div>
        </div>

        {{/core-body}}


